[defaults]
collections_paths = collections
roles_path = roles
inventory = hosts
remote_user = ansible
host_key_checking = False
command_warnings = False
forks = 10
timeout = 60

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args=-C -o ControlMaster=auto -o ControlPersist=1200s -o BatchMode=yes
pipelining=False
control_path = /tmp/ansible-%%h-%%p-%%r
